.alinhamento-central {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.alinhamento-direita {
    text-align: right;
    align-content: right;
    align-items: right;
    align-self: right;
}

.alinhamento-esquerda {
    text-align: left;
    align-content: left;
    align-items: left;
    align-self: left;
}